.content
{
    clear: both;
}

.contentMenu
{
    background-image: url(images/background.gif);
    background-repeat: repeat-x;
    height: 80px;
}

.menu
{
    margin-left: -40px;
    margin-top: -14px;
}

    .menu li
    {
        background-image: url(images/background.gif);
        width: 300px;
        height: 80px;
        background-repeat: repeat-x;
        color: white;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        float: left;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

        .menu li:hover
        {
            background-image: url(images/hover.png);
            width: 300px;
            height: 80px;
            background-repeat: repeat-x;
            color: white;
            cursor: pointer;
        }

        /*submenu*/
        .menu li ul
        {
            padding: 0;
            position: absolute;
            top: 80px;
            
            width: 300px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }

            .menu li ul li
            {
                margin-top:-1px;
                background-image: url(images/background.gif);
                display: block;
                
            }

                .menu li ul li:hover
                {
                    background-image: url(images/hover2.png);
                }

        .menu li:hover ul
        {
            display: block;
            opacity: 1;
            visibility: visible;
        }
        /*submenu*/

.widget
{
    background-image: url(images/sprite_2.gif);
}

.center
{
    top: 35%;
    left: 8%;
    position: relative;
}

.indicator
{
    width: 22px;
    height: 22px;
    background-position: -209px -28px;
    top: 16%;
    position: relative;
    float: left;
}

.indicatorNumber
{
    top: 1px;
    position: relative;
    font-size: 10pt;
    font-weight: bold;
    left: 7px;
    color: white;
    font-family: Ubuntu;
}

.icon
{
    width: 25px;
    height: 25px;
    float: left;
}

.star
{
    background-position: -121px -24px;
}

.user
{
    background-position: -48px -24px;
}

.mail
{
    background-position: -84px -24px;
}

.comment
{
    background-position: -283px -28px;
}

.setting
{
    background-position: -17px -23px;
}

.eye
{
    background-position: -248px -28px;
}

.arrow
{
    background-position: -311px -27px;
}

.label
{
    top: 25%;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-right: 10px;
    font-family: Ubuntu;
    font-size: 28px;
    color: white;
}

.welcome
{
    /*line-height: 75px;*/
}
